<footer>
    <div id="footer">
        <div class="container">
            <div class="col-md-4">
                <h4>About Us</h4>
                <ul>
                    <li><a href="/about/how-eventsonar-works">About EventSonar</a></li>
                    <li><a href="/about/team">Team</a></li>
                    <li><a href="/about/contact">Contact Us</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h4>My Account</h4>
                <ul>
                    <li><a href="/">My Profile</a></li>
                    <li><a href="/login">Login</a></li>
                    <li><a href="/signup">FREE Signup</a></li>
                    <li><a href="/settings">Settings</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h4>Site Safety</h4>
                <ul>
                    <li><a href="/guidelines">Guidelines</a></li>
                    <li><a href="/terms-of-service">Terms of Service</a></li>
                    <li><a href="/privacy-policy">Privacy Policy</a></li>
                    <li><a href="/report-a-problem">Send us Feedback</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
