<form id="login-form" class="navbar-form Form AuthForm SignupForm" method="POST" accept-charset="utf-8" {{action 'login' on="submit"}}>
  {{input id="id_email" type="text" placeholder="Email Address" value=email class="input-medium"}}
  {{input id="id_password" type="password" placeholder="Password" value=password class="input-medium"}}
  <button type="submit" class="btn btn-primary" {{bindAttr disabled="isProcessing"}}>Log in!</button>
  {{#if loginFailed}}
    <span class="alert">Invalid username or password.</span>
  {{/if}}
</form>
